<div class="post"><h1><%=@post.title%></h1>
<small><%= @post.created_at.strftime("%b %d, %Y")%></small>
<h3><%=@post.body%></h3>
Category: <%=link_to @post.category.name, @post.category %><br/>
<%=link_to "Back", posts_path%>
</div>
